:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --main-font: "Figtree", sans-serif;
    --heading-font: "Quicksand", sans-serif;
    --spacing: 16px;
}

body {
    overflow-x: hidden;
}

h1 {
    font-family: var(--heading-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

p, li {
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

img {
    padding: 0px 0px 0px 0px;
    width: 49%;
}

img:hover {
    animation: fade 1s ease;
}

section {
    margin: 30px 30px 0px 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: -8px -8px 0px -8px;
}

.navbar > * {
    padding: 0px 50px 0px 50px;
}

.nav-links {
    display: flex;
    position: relative;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.hamburger {
    display: none;
}

#sidebar {
    position: relative;
    transform: translateX(0px);
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: var(--primary-color);
        padding: 50% 25px 15% 25px;
    }

    .hamburger {
        display: flex;
        width: 50px;
    }

    #sidebar {
        display: flex;
        position: absolute;
        padding: 0px 0px 0px 50px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        transform: translateX(calc(100vw - 100px));
        transition: transform 0.3s ease;
    }

    #homeImage {
        width: 100%;
    }
}

#sidebar.active {
}

.current {
    font-weight: bold;
}

@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0.5;}
}